<table class="myapage-show">
    <h2>マイページ</h2>
    <thead>
      <th>登録情報</th>
      <th><%= link_to "編集する",edit_customer_path(customer),class: "btn btn-success" %></th>
    </thead>


    <%#マイページの登録情報表示%>
    <tbody>
        <% @customers.each do |customer| %>

        <div class="row">
        <tr class="border border-dark">
            <td>氏名</td>
            <td>
                <%= customer.first_name %>
                <%= customer.last_name %>
            </td>
            </tr>

            <tr class="border border-dark">
                <td>カナ</td>
            <td>
                <%= customer.first_name_kana %>
                <%= customer.last_name_kana %>
            </td>
            </tr>

            <tr class="border border-dark">
                <td>郵便番号</td>
            <td><%= customer.postal_code %></td>
            </tr>

            <tr class="border border-dark">
                <td>住所</td>
            <td><%= customer.address %></td>
            </tr>

            <tr class="border border-dark">
                <td>電話番号</td>
            <td><%= customer.telephone_number %></td>
        </tr>
        <tr class="border border-dark">
            <td>メールアドレス</td>
            <td><%= customer.email %></td>
            </tr>


    </tbody>
    <%#配送先と注文一覧へのリンクボタン作成%>

    <div class="row">
		 		配送先<%= link_to "一覧を見る", ship_addresses_path, class: "btn btn-primary" %>
		 	</div>
		 	<div class="row">
				注文履歴<%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
			</div>
			</div> 