<div class="container">
  <div class="row">
    <h4 class="red-border bg-light m-4">会員一覧</h4>
  </div>
  <div class="row mt-4">
    <div class='col-md-8 mx-auto'>
      <table class="table table-hover table-inversey">
        <thead class="bg-light">
          <tr>
            <th class="text-dark">会員ID</th>
            <th class="text-dark">氏名</th>
            <th class="text-dark">メールアドレス</th>
            <th class="text-dark">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admins_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted == true %>
              <td class="text-success">有効</td>
              <% else %>
              <td class="text-secondary">退会</td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div class='container mt-5'>
        <div class='row'>
          <div class='mx-auto'>
            <p><%= paginate @customers %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>