<div class="container">
  <div class="row mt-4 ml-5">
    <h4 class="bg-light text-dark">商品編集</h4>
  </div>
  <div class="row">
      <div class="col-md-5 mx-auto">
        <%= form_with model: @good, url:admins_good_path(@good.id), local: true do |f| %>
        <table class="mt-4">
          <tr>
            <th class="text-dark" height="40">商品画像</th>
            <td><%= f.attachment_field :image %></td>
          </tr>
          <tr>
            <th class="text-dark" height="40">商品名</th>
            <td><%= f.text_field :name %></td>
          </tr>
          <tr>
            <th class="text-dark" height="40">商品説明</th>
            <td><%= f.text_field :introduction %></td>
          </tr>
          <tr>
            <th class="text-dark" height="40">ジャンル</th>
            <td><%= f.collection_select :genre_id, @genres, :id, :name, {prompt:"--選択してください--"}, class: "form-control" %></td>
          </tr>
          <tr>
            <th class="text-dark" height="40">税抜価格</th>
            <td><%= f.text_field :price %><span>円</span></td>
          </tr>
          <tr>
            <th class="text-dark" height="40">販売ステータス</th>
            <td>
              <%= f.radio_button :sales_status, false %>
              <%= f.label :sales_status, "販売中" %>
              <%= f.radio_button :sales_status, true %>
              <%= f.label :sales_status, "売切れ" %>
            </td>
          </tr>
        </table>
    </div>
   </div>
    
    <div class="form-group text-center mr-5">
      <%= f.submit "変更を保存", class:"btn btn-success" %>
    </div>
  <% end %>
</div>
