<div class="container px-5 px-sm-0">
  <div class="row mt-4 ml-5">
    <h4 class="bg-light text-dark">商品詳細</h4>
  </div>
  <div class='row mt-5'>
    <%= attachment_image_tag(@good, :image, fallback: "no_image.jpg", size:"200x150") %>
    <div class='col-md-3'>
      <table>
        <tr>
      	  <th class="text-dark">商品名</th>
      	  <td class="text-dark"><%= @good.name %></td>
        </tr>
        <tr>
      	  <th class="text-dark">商品説明</th>
       	  <td class="text-dark"><%= @good.introduction %></td>
        </tr>
        <tr>
          <th class="text-dark">ジャンル</th>
          <td class="text-dark"><%= @good.genre.name %></td>
        </tr>
        <tr>
          <th class="text-dark">税込価格<br>(税抜価格)</th>
          <td class="text-dark"><%= @good.price %><span>円</span></td>
        </tr>
        <tr>
          <th class="text-dark">販売ステータス</th>
          <% if @good.sales_status == false %>
            <td class="text-success">販売中</td>
          <% else %>
            <td class="text-secondary">販売停止中</td>
          <% end %>
        </tr>
      </table>
      <div class='row'>
        <%= link_to '編集する',edit_admins_good_path,class: "btn btn-sm btn-success" %>
      </div>
    </div>
  </div>
</div>