
  <div class='row'>
    <div class='col-md-3'>
      <h2>商品詳細</h2>
      <table class='table'>
        <%= attachment_image_tag(@good.image_id, :profile_image, :fill, 200, 150, fallback: "no_image.jpg", size:"200x150") %>
      </table>
    </div>
    <div class='col-md-3'>
      <table>
        <tr>
      	  <th>商品名</th>
      	  <th><%= @good.name %></th>
        </tr>
        <tr>
      	  <th>商品説明</th>
       	  <th><%= @good.introduction %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= @good.genre.name %></th>
        </tr>
        <tr>
          <th>税込価格<br>(税抜価格)</th>
          <th><%= @good.price %></th>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <th><%= @good.sales_status %></th>
        </tr>
      </table>
      <div class='row'>
        <%= link_to '編集する',edit_admins_good_path,class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>