<div class="container">
  <div class="row">
    <h4 class=red-border "bg-light m-4">商品詳細</h4>
  </div>
  <div class='row mt-5'>
    <div class="col-md-4">
      <%= attachment_image_tag(@good, :image, fallback: "no_image.jpg", size:"250x170") %>
    </div>
    <div class='col'>
      <table>
        <tr>
      	  <th class="text-dark" width="170" height="40">商品名</th>
      	  <td><%= @good.name %></td>
        </tr>
        <tr>
      	  <th class="text-dark" height="40">商品説明</th>
       	  <td><%= @good.introduction %></td>
        </tr>
        <tr>
          <th class="text-dark" height="50">ジャンル</th>
          <td><%= @good.genre.name %></td>
        </tr>
        <tr>
          <th class="text-dark" height="50">税込価格<br>(税抜価格)</th>
          <td><%= @good.price.to_s(:delimited) %><span>円</span></td>
        </tr>
        <tr>
          <th class="text-dark" height="50">販売ステータス</th>
          <% if @good.sales_status == false %>
            <td class="text-success">販売中</td>
          <% else %>
            <td class="text-secondary">販売停止中</td>
          <% end %>
        </tr>
      </table>
      <div class='row'>
        <div class="col ml-5">
          <%= link_to '編集する',edit_admins_good_path,class: "btn btn-sm btn-success" %>
        </div>
      </div>
    </div>
  </div>
</div>