<main>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 text-center">
        <%= render 'public/goods/genre', genres: @genres %>
      </div>
      <div class="col-lg-10">
        <h2>商品一覧<h4 class="ml-2">(全<span><%= @goods_count %></span>件)</h4></h2>
        <div class="d-flex flex-wrap bd-highlight mb-3">
          <% @goods.each do |good|%>
            <div class="col-sm-6 col-md-4 col-lg-3">
            <%=link_to good_path(good.id) do%>
              <%= attachment_image_tag good, :image, size: "250x150" %>
              <div>
                <h5><%= good.name%></h5>
                <p>￥<%= good.price.to_s(:delimited)%></p>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    <%= paginate @goods %>
  </div>
</main>