<main>
  <div class="container">
    <h2>商品一覧</h2>
    <div class="row">
      <% @goods.each do |good|%>
        <div class="col-3 mt-5">
          <%=link_to good_path(good.id) do%>
            <%= attachment_image_tag good, :image, fallback: "no_image.jpg", size:"250x150" %>
            <%= good.name%>
            ￥<%= good.price.to_s(:delimited)%>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= paginate @goods %>
  </div>
</main>