<div class="container">
  <div class="row mt-4 ml-4">
    <h4 class="bg-light text-dark">ログイン</h4>
  </div>
  <div class="row mt-4 ml-4">
    <p class="bg-light text-dark">会員の方はこちらからログイン</p>
  </div>
  
  <div class="row">
    <div class="col">
      <%= flash[:error] %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table>
        <tr>
          <th class="text-dark" height="50"><%= f.label :email, "メールアドレス" %></th>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th class="text-dark" height="50"><%= f.label :password, "パスワード" %></th>
          <td><%= f.password_field :password, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class: "btn btn-success" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  
  <div class="row mt-4 ml-4">
    <p class="bg-light text-dark">会員登録がお済みでない方</p>
  </div>
  <%= link_to "こちら", new_customer_registration_path %>　<span class="text-dark">から新規登録を行ってください。</span>
  
</div>