<h2>注文情報確認</h2>
<%#注文内容%>
<div class="row">
    <table class = "table table-borderless">
        <thead>
            <tr class = "border">
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>個数</th>
                <th>小計</th>
            </tr>
        </thead>
        <% @order.each do |f| %>
        <tbody>
            <tr class = "border">
                <td><%= attachment_image_tag f, :image %></td>
                <td><%= f.item_name %></td>
                <td><%= f.item_price %></td>
                <td><%= f.quantity %></td>
                <td><%= f.item_price + f.quantity %></td>
            </tr>
        </tbody>
        <% end %>
    </table>
</div> 

<%#支払い方法%>
<tr class = "border">
    <td>支払い方法</td>
    <td><%= @order.payment_method %></td>
</tr>

<%#配送先%>
<tr class = "border">
    <td>配送先</td>
    <% shipping_address = ShippingAddress.find(@order.address) %>
    <td><%= "〒" + shipping_address.post_code + "  " + shipping_address.address + "  " + shipping_address.first_name + shipping_address.last_name %></td>
</tr>
