
<% total_price = 0 %>
<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 m-4 px-4 py-1 text-center">
      <h2 class="bg-light text-dark">注文情報確認</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
    　<table class="table table-bordered">
    　  <thead>
      　  <th class="table-active text-darke">商品名</th>
      　  <th class="table-active text-darke">単価(税込み)</th>
      　  <th class="table-active text-darke">数量</th>
      　  <th class="table-active text-darke">小計</th>
      　</thead>
      　<tbody>
          <% @cart_items.each do |f| %>
            <tr>
              <td class="align-middle text-dark">
                <%= attachment_image_tag f.good, :image, size: "60x60", fallback: "no_image.jpg" %>
                <strong><%= name = f.good.name %></strong>
              </td>
              <td class="align-middle text-dark">
                <%= f.good.name %>
              </td>
              <td class="align-middle text-dark">
                <% price = add_tax_price(f.good.price) %>
                <% price.to_s(:delimited, delimiter: ',') %>
                <%= quantity = f.quantity %>個
              </td>
              <td class="align-middle text-dark">
                <% subtotal_price = (add_tax_price(f.good.price) * f.quantity.to_i) %>
                <%= subtotal_price.to_s(:delimited, delimiter: ',') %>
                <% total_price += subtotal_price.to_i %>
              </td>
            </tr>
          <% end %>
        </tbody>
        <% @total_price = total_price %>
        <!-- コントローラーで使う用 -->
      </table>
    </div>

    <div class="col-md-4 mt-4">
      <table class="table table-bordered">
        <tr>
          <th class="table-active text-dark">送料</th>
          <td class="align-middle text-dark"><%= @order.shipping_fee %></td>
        </tr>
        <tr>
          <th class="table-active text-dark">商品合計</th>
          <td class="align-middle text-dark"><%= total_price.to_s(:delimited, delimiter: ',') %></td>
        </tr>
          <th class="table-active text-dark">請求金額</th>
          <td class="align-middle text-dark"><%= (total_price + @order.shipping_fee).to_s(:delimited, delimiter: ',') %></td>
      </table>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-md-2 text-center">
      <h4 class="text-dark">支払方法</h4>
    </div>
    <div class="col-md-3 text-dark">
      <%= t("enums.order.payment_method.#{@order.payment_method}") %>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-2 text-center">
      <h4 class="text-dark">お届け先</h4>
    </div>
    <div class="col-md-8 text-dark">
      〒<%= @order.shipping_postal_code + " " + @order.shipping_address %></br>
      <%= @order.shipping_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <%= form_with model: @order, url: {controller: 'orders', action: 'create'}, local: true do |f| %>
        <%= f.hidden_field :shipping_postal_code %>
        <%= f.hidden_field :shipping_address %>
        <%= f.hidden_field :shipping_name %>
        <%= f.hidden_field :order_status %>
        <%= f.hidden_field :total_price, value: total_price %>
        <%= f.hidden_field :shipping_fee, value: @order.shipping_fee %>
        <%= f.hidden_field :payment_method %>
        <%= f.submit "注文を確定する", class: "btn btn-success btn-lg m-2" %>
      <% end %>
    </div>
  </div>
</div>