<div class="container">
  <div class="row mt-4 ml-4">
    <h4 class="bg-light text-dark">注文履歴詳細</h4>
  </div>
  <div class="row mt-4">
    <div class='col'>
      <table>
        <tr>
          <th class="text-dark" width="170" height="40">購入者</th>
          <td class="text-dark">
            <%= link_to admins_customer_path(@order.customer) do %>
             <%= @order.customer.last_name %>
             <%= @order.customer.first_name %>
            <% end %>
          </td>
        </tr>
        <tr>
      	  <th class="text-dark" height="40">購入日</th>
      	  <td class="text-dark"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
      	  <th class="text-dark" height="40">配送先</th>
      	  <td class="text-dark">
      	    〒<%= @order.customer.postal_code %>
      	    <%= @order.shipping_address %>
      	    </td>
        </tr>
        <tr>
          <th class="text-dark" height="40">支払い方法</th>
          <td class="text-dark"><%= @order.payment_method %></td>
        </tr>
        <tr>
          <th class="text-dark" height="40">注文ステータス</th>
          <%= form_with model: @order, url: admins_order_path(@order), method: :patch, local: true do |f| %>
          <td class="order-box"><%= f.select :order_status, @array_order_status, { selected: Order.order_statuses[@order.order_status] } %></td>
          <td><%= f.submit "更新", class: "btn btn-success" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>

  <div class='row mt-4'>
    <div class='col-md-8'>
      <table class='table table-hover table-inverse'>
        <thead class="bg-light">
          <tr>
            <th class="text-dark">商品名</th>
            <th class="text-dark">単価(税込)</th>
            <th class="text-dark">数量</th>
            <th class="text-dark">小計</th>
            <th class="text-dark">制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @order.ordered_goods.each do |ordered_good| %>
            <td class="text-dark"><%= ordered_good.good.name %></td>
            <td class="text-dark"><%= ordered_good.price %></td>
            <td class="text-dark"><%= ordered_good.quantity %></td>
            <td class="text-dark">
              <% subtotal_price = (add_tax_price(ordered_good.good.price) * ordered_good.quantity.to_i) %>
              <%= subtotal_price.to_s(:delimited, delimiter: ',') %>
            </td>
            <%= form_with model: ordered_good, url: admins_path(order_id: @order.id, id: ordered_good.id), method: :patch, local: true do |f| %>
            <td class="text-dark">
              <%= f.select :production_status, @array_ordered_good_production_status, { selected: OrderedGood.production_statuses[ordered_good.production_status] } %>
            </td>
            <td>
              <%= f.submit "更新", class: "btn btn-success" %>
            </td>
            <% end %>
            <% end %>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col ml-5">
      <table>
        <tr>
          <th class="text-dark" width="100" height="40">商品合計</th>
          <td class="text-dark"><%= @order.total_price.to_s(:delimited) %><span>円</span></td>
        </tr>
        <tr>
          <th class="text-dark" height="40">配送料</th>
          <td class="text-dark"><%= @order.shipping_fee.to_s(:delimited) %><span>円</span></td>
        </tr>
        <tr>
          <th class="text-dark" height="40">ご請求額</th>
          <td class="text-dark"><%= (@order.total_price + @order.shipping_fee).to_s(:delimited) %><span>円</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
