<!DOCTYPE html>
<html>
  <head>
    <title>ながのCAKE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--ヘッダー部-->
    <header class="border-bottom border-dark">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href = "/"><span><%= image_tag 'tentative_logo.png', :size => '90x90' %></span></a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item"><%= link_to " マイページ", customer_path(current_user.id), class: 'btn btn-outline-secondary text-dark' %></li>
                <li class="nav-item"><%= link_to " 商品一覧", goods_path, class: 'btn btn-outline-secondary text-dark' %></li>
                <li class="nav-item"><%= link_to " カート", cart_items_path, class: 'btn btn-outline-secondary text-dark' %></li>
                <li class="nav-item"><%= link_to " ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-outline-secondary text-dark' %></li>
              <% else %>
                <li class="nav-item"><%= link_to " About", home_about_path, class: 'nav-link m-2 border border-secondary rounded text-dark' %></li>
                <li class="nav-item"><%= link_to " 商品一覧", goods_path, class: 'nav-link m-2 border border-secondary rounded text-dark' %></li>
                <li class="nav-item"><%= link_to " 新規登録", new_customer_registration_path, class: 'nav-link m-2 border border-secondary rounded text-dark' %></li>
                <li class="nav-item"><%= link_to " ログイン", new_customer_session_path, class: 'nav-link m-2 border border-secondary rounded text-dark' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <div>
    </header>
    
    <!--Body部-->
    <%= yield %>
    
    <!--フッター部-->
    <footer class="border-top">
      <div class="container mt-4">
        <div class="row">
          <div class="mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
    
  </body>
</html>
